/* .container{
    border: 1px solid red;
}

.container-fluid{
    border: 1px solid blue;
}

header{
    min-height: 100px;
}

section{
    min-height: 500px;
}

[class*="col"] {
    border: 1px solid orange;
    min-height: 50px;
} */

/* CANCELLARE SOPRA */

.green{
    background-color: #1ABC9C;
}

.btn-white{
    color: white;
    border-color: white;
}

.bg-blue{
    background-color: #2C3E50;
}

#navbarNav{
    justify-content: flex-end;
}

#contact .form-control{
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid grey;
}